* {
  padding: 0;
  margin: 0;
  font-family: Harry Potter , Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: rgb(56, 56, 56);
  font-weight: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  background: url('./images/background.jpeg');
  width: 100%;
  height: 90px;
  align-items: center;
}

#trybewarts-forms-logo {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

.title {
  color: white;
}

.trybewarts-header-logo {
  height: 70px;
  width: 70px;
}

.trybewarts-login {
  display: flex;
  padding: 40px;
}

#email-input , #password-input {
  border-radius: 5px;
  margin-right: 5px;
}

#enter-button {
  margin-left: 5px;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  background: url('./images/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;

}

#evaluation-form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 675px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin-bottom: 5px;
}

#name-lastname-input {
  margin: 1%;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  border-radius: 5px;
}

#email-house-input {
  margin: 1%;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  border-radius: 5px;
}

#form-title {
  margin-top: 5px;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  border-radius: 5px;
}

#label-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  width: 200px;
  margin-bottom: 15px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

#label-content-container {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

#evaluator-container {
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.agreement-contain {
  display: flex;
}

.btn-sub , .enter-btn {
  background-color: rgb(51, 49, 49);
  color: rgb(248, 248, 248);
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
}

.btn-sub {
  width: 130px;
}

.textarea-input {
  border-color: rgb(76, 43, 107);
  border-radius: 10px;
  border-width: 2px;
  background-color: white;
  width: 98%;
  font-family: monospace;
}

hr {
  width: 98%;
  margin: 8px;
}

#coment-area {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.rodape , .rodape-title {
  text-align: center;
  background-color: rgb(85, 59, 129);
  color: aliceblue;
}

#agreement-container , #submit-button-container {
  margin-bottom: 5px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

#form-data , #form-data p {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(85, 59, 129);
  color: whitesmoke;
  height: 60%;
  padding: 5px;
}
