
/* ------ Geral ------ */
* {
    font-family: Sen, sans-serif;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(/header.gif);
}
  
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 60vw;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
  
  .cabecalho {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
  }
  
  #title {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 40px;
    color: whitesmoke;
    background-color: rgb(2, 15, 71) ; 
    padding: 10px;
    border-radius: 10px;
  }
  
  #color-palette {
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    margin: 0 auto 30px;
    border-radius: 35px;
  }
  
  .color {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 10px;
  }
  
  .color:first-child {
    width: 70px;
    height: 70px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 10px;
  }
  
  #button-random-color {
    display: flex;
    height: 70px;
    text-align: center;
    align-items: center;
    border-radius: 35px;
    border: 1px solid black;
    background-color: rgb(2, 15, 71); 
    padding: 0 30px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
  }
  
  #button-random-color:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(2, 15, 71);
    font-weight: 600;
  }
  
  #button-random-color:active {
    cursor: pointer;
    background-color: rgb(2, 15, 71);
    color: whitesmoke;
  }
  
  #button-random-color h2 {
    margin: auto;
  }
  
  .modify-board {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .modify-board input {
    margin: auto 20px;
    border-radius: 15px;
    height: 35px;
    border: 1px solid grey;
    text-align: center;
  }
  
  #generate-board {
    background-color: darkcyan;
    border-radius: 20px;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 10px 30px;
    margin: auto 20px;
    border: 1px solid black;
  }
  
  #generate-board:hover {
    cursor: pointer;
    background-color: white;
    color: darkcyan;
  }
  
  #generate-board:active {
    cursor: pointer;
    background-color: darkcyan;
    color: white;
  }
  
  #pixel-board {
    background-color: whitesmoke;
    margin: 40px auto;
    padding: 20px;
    border-radius: 35px;
  }
  
  .pixel {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    margin: 0;
  }
  
  .clear-div {
    display: inline-block;
    background-color: white;
    width: 25vw;
    padding: 10px;
    border-radius: 35px;
    text-align: center;
  }
  
  #clear-board {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  #clear-board:hover {
    background-color: white;
    color: darkcyan;
    cursor: pointer;
  }
  
  #clear-board:active {
    background-color: darkcyan;
    color: white;
    cursor: pointer;
  }